

h1#header {
    
    height: 100px ;
    font-family: 'Amatic SC', sans-serif;
    
}




body {

    margin: 10px 0 ;
    padding: 0;
    text-align: center;
    font: 1.5em "Trebuchet MS", helvetica, sans-serif ;
    background: #8b8b8b;
    font-family: 'Dancing Script', cursive;

.contenu {
    display: flex;
    justify-content: space-between;
    width: calc(100%);
    .col {
        width: calc(100%);
    }   
}
    

}


pre {
    overflow: auto;
}












